*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #dcdfe2;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

body img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contenedor {
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

p, li {
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px;
}

header {
  background-color: #6080b1;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  padding: 20px;
}

.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
  width: 100%;
  height: auto;
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: #6080b1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

@media (max-width: 768px) {
  header {
    padding: 15px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .location-title {
    font-size: 1.2em;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .location-title {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }
}

@media (hover: none) {
  .location-title {
    opacity: 1;
  }

  .location-image img {
    filter: blur(2px);
  }
}


.carrete-container {
  width: 100vw;
  height: 25vh;
  overflow: hidden;
  position: relative;
}

.carrete {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.carrete img {
  height: 100%;
  width: 25vw;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.video-library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.video-item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-item img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 4px solid #ddd;
}

.video-item p {
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border-top: 2px solid #ddd;
}

.video-item a {
  text-decoration: none;
  color: inherit;
}
